#new_listings{
	
	width:150px;
	height:600px;
	border:1px;
	border-style:solid;
	margin-top:15px;
}
#new_listings .listing{
	
	width:120px;
	height:140px;
	border:1px;
	border-style:solid;
	margin:0 auto;
	margin-top:15px;
}

.box{
	box-shadow: 0 0 5px #000000;
	width:46%;
	padding:10px;
	height:200px;
	color:#FFFFFF;
}
#buy_box{
	
	
	
	background-image: linear-gradient(to bottom, #34d960, #2c965a)
	
}
#buy_box:hover{
	
	
	background-image: linear-gradient(to bottom, #2c965a,#34d960)
	
}
#recent_list{
	margin-bottom:100px;
}

#sell_box{

	  background-image: linear-gradient(to bottom, #f50a0a, #8c2020);
}

#sell_box:hover{
	
	  background-image: linear-gradient(to bottom, #8c2020, #f50a0a);
}