
#login_form{
	width:500px;

}

#login_info{
	float:left;
	display:inline;
}
#signin_contaienr{
	float:right;
	display:inline;
}

#logo_container{
	float:left;
}
#login_box{
	float:right;
}
#signup_form{
	margin-top:50px;
	margin-right:50px;
	padding-right:10px;
	
}

#signup_form input{
	margin:10px;
	font-size:20px;
	width:350px;
	height:35px;
	
}
canvas{
	margin-top:50px;
	
}